<head>
    <title>
	BLAND UI
    </title>
</head>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="http://adazzle.github.io/react-data-grid/assets/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="http://adazzle.github.io/react-data-grid/build/react-data-grid.css"></link>
<link rel="stylesheet" type="text/css" href="http://localhost:8080/temp/react-simpletabs.css"></link>
<link rel="stylesheet" type="text/css" href="http://localhost:8080/temp/style.css"></link>
<link rel="stylesheet" type="text/css" href="http://localhost:8080/temp/filepicker.css"></link>
<link rel="stylesheet" type="text/css" href="http://localhost:8080/temp/dropzone.min.css"></link>


<center><h1>Enter Your Parameters</h1></center>

<div id="content"></div>

<div>
    <div id="inner" style="width:300px;margin-top:10px"></div>
    <!--<div id="lower">Upload a .cif or .pcr file to fill in your unit cell and atomic information.</div>-->
</div>

<div id="alignRight" style="text-align:right; margin-right:15px">
	<br/><button id="mybtn" class="btn" onclick="handleOnClick()" type="button" style="visibility:hidden;">Calculate</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-with-addons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.min.js"></script>
<script src="http://localhost:8080/temp/redux.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
<script src="http://localhost:8080/temp/react-data-grid-with-addons.js"></script>
<script src="http://localhost:8080/temp/react-simpletabs.js"></script>
<script src="http://localhost:8080/temp/ReactRouter.js"></script>
<script src="http://localhost:8080/temp/react-bootstrap.js"></script>
<script src="http://localhost:8080/temp/react-dropzone.js"></script>
<script type="text/javascript" src="http://localhost:8080/actions.js"></script>
<script type="text/javascript" src="http://localhost:8080/reducers.js"></script>
<script type="text/javascript" src="http://localhost:8080/store.js"></script>
<script type="text/javascript" src="http://localhost:8080/components.js"></script>
<script type="text/javascript" src="http://localhost:8080/cell.js"></script>
<script type="text/javascript" src="http://localhost:8080/methods.js"></script>
<script type="text/javascript" src="http://localhost:8080/instrument.js"></script>
<script type="text/javascript" src="http://localhost:8080/grid.js"></script>
<script type="text/javascript" src="http://localhost:8080/mynew.js"></script>
